body{
  background-color: #424242;
  color:#ddd;
  /* overflow-wrap: normal; */
}

a{
  color:unset;
}
a:hover{
  text-decoration: none;
  color:unset;
}


.movie-modal.img{
  height:500px;
}

.heading{
  border-radius: 30px;
  background: linear-gradient(143deg, #454851 19%, #1b950c 100%);
  padding:10px;
}

.jumbo-title{
  /* position:absolute; */
  z-index:999;
  /* top:40%; */
  text-shadow: 2px -2px 4px black;
  font-size: 5rem;
  color: #14ac14;
  /* margin-left: 5%; */
  text-align:left;
  pointer-events: none;
}

.jumbo-plot{
  /* position:absolute; */
  /* z-index:999; */
  /* top:60%; */
  text-shadow: 2px -2px 4px black;
  overflow: wrap;
  font-size: 1rem;
  color: #b7d1b7;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  width:70%;
  text-align: justify;
  pointer-events: none;
}

.jumbo-button{
  position:absolute;
  z-index:10;
  top:85%;
  right:5%;
  text-shadow: 2px -2px 4px black;
  overflow: wrap;
  font-size: 2rem;
  color: #b7d1b7;
  /* margin:auto; */
  width:30%;
  text-align: center;
  border: solid 1px;
  border-radius: 2rem;
  background-color: #4242428e;
}

.jumbo-button:hover{
  color: #b7d1b7;
  background-color: #258a2a8e;
}

.mycustom-carousel-container{
  visibility: hidden;
}
.mycustom-carousel-title{
  position: absolute;
  z-index: 10;

    top:40%;
    left:5%;
    text-shadow: 2px -2px 4px black;
    font-size: 3.8rem;
    color: #14ac14;
    text-align:left;
    pointer-events: none;
}

.mycustom-carousel-caption{
  position: absolute;
  z-index: 10;
  position:absolute;
  top:60%;
  left:5%;
  text-shadow: 2px -2px 4px black;
  overflow: wrap;
  font-size: 1rem;
  color: #b7d1b7;
  width:70%;
  text-align: justify;
  pointer-events: none;
  background-color: #42424293;
  border-radius: 2rem;
  padding:3%;
}

.loading-overlay{
  padding: 20%;
  min-height:100%;
  min-width:100%;
  background-color:#252525ea;
  position: absolute;
  
}

.spinner-grow{
  height:5rem !important;
  width:5rem !important;
}


.ct-toast{
  height:100px !important;
  width:400px !important;
  background-color: #363636!important; 
  color:#ddd !important;
}

.rating-low{
  color: #ff0000;
}
.rating-medium{
  color: #ffd000;
}
.rating-high{
  color: #12d600;
}