.user-info {
  border-radius: 20px;
  border-color: #0d87ac;
  background-color: #2e2e2e;
  color: #b3d616;
  padding: 3%;
  text-align: left;
}

.user-info-data {
  color: #ddd;
}

.user-profile-border{
  margin: auto;
    border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
}

.nav-tab-pill:focus, .nav-tab-pill .active, .btn-green{
  background-color: #3fbb05 !important;
  border: none !important;
  outline: none !important;
}

.ct-toast{
  height:100px;
  width:400px;
  background-color: #363636;
  color:#ddd;
}

.list-container{

  padding:5%;
}

.list-item{
  border-radius: 20px;
  background-color:#2e2e2e;
  padding:5%;
  margin:1%;
}